.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shortenUrlFormSection {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    width: 100%;
    justify-items: center;
    
    height: 65dvh;

    & > h2 {
        text-align: center;
        margin: auto;
        font-size: var(--text-2xl);
    }
}