.button {
  border: none;
  color: var(--grey);
  text-decoration: underline;

  transition: all 0.3s ease-in-out;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    color: var(--foreground);
    background-color: var(--highlight);

    &::before {
      width: 100%;
    }
  }
}
