.loader {
    width: 16px;
    height: 16px;
    border: 3px solid transparent;
    border-bottom-color: var(--brand);
    border-right-color: var(--brand);

    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 